<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-11 col-sm-11 col-xs-11">
            <h1 class="text-center">
                Tipos de licencias
            </h1>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="card-license-item col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
            <div class="card card-license p-2">
                <img src="../assets/img/ugcs/licenses/License-ugcs-pro-perpetual.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <div class="card-body">
                    <h2 class="card-title" id="perpetual-pro-card">
                        UgCS PRO<br>Perpetua
                    </h2>
                    <p class="card-text">
                        <strong>Descripción</strong><br>
                        Incluye características adecuadas para planificar misiones profesionales que requieren el
                        control total del vuelo.<br>
                    </p>
                    <p class="card-item">
                        <strong>Precio</strong><br>
                        &euro; 790.00<br>
                        Por usuario
                    </p>
                    <p class="card-item">
                        <a href="mailto:ventas@tfmsoluciones.com">
                            <button type="button" class="btn btn-ugcs-buy-pro">Comprar</button>
                        </a>
                    </p>
                    <br>
                    <h3>
                        características
                    </h3>
                    <ul>
                        <li>Waypoints, Lineal, Circulo, Perímetro, Herramientas de escaneo de área</li>
                        <li>Photogrametría automática
                        <li>Escaneo vertical automático (Facade)</li>
                        <li>Mapeo automatizado de corredor</li>
                        <li>Herramientas de SAR (búsqueda y rescate) automáticas</li>
                        <li>Ambiente inmersivo 3D de planeación de misión</li>
                        <li>Importación de data en KML/CSV</li>
                        <li>Importación DEM</li>
                        <li>Modo de seguimiento de Perfil de elevación y terreno</li>
                        <li>Importación de imágenes Geo-referenciadas</li>
                        <li>Mapas personalizados</li>
                        <li>Receptor ADS-B</li>
                        <li>Transmisión de video</li>
                        <li>Incluye el primer añó de soporte y paquete de actualizaciones</li>
                        <li>UgCS is compatible with UgCS Mapper para procesar imágenes y crear mapas superpuestos</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-license-item col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
            <div class="card card-license p-2">
                <img src="../assets/img/ugcs/licenses/License-ugcs-expert-perpetual.png"
                    alt="UgCS Pro license perpetual" class="card-img">
                <div class="card-body">
                    <h2 class="card-title" id="perpetual-expert-card">
                        UgCS EXPERT<br>Perpetua
                    </h2>
                    <p class="card-text">
                        <strong>Descripción</strong><br>
                        Dedicada especialmente para tomas con sistemas LiDAR ya que cuenta con herramientas integradas
                        para la calibración del IMU.<br>
                    </p>
                    <p class="card-item">
                        <strong>Precio</strong><br>
                        &euro; 1'490.00<br>
                        Por usuario
                    </p>
                    <p class="card-item">
                        <a href="mailto:ventas@tfmsoluciones.com">
                            <button type="button" class="btn btn-ugcs-buy-expert">Comprar</button>
                        </a>
                    </p>
                    <br>
                    <h3>
                        Todas las características del UgCS PRO + herramientas LiDAR
                    </h3>
                    <ul>
                        <li>Escaneo automático de áreas con LiDAR</li>
                        <li>Mapeo automatizado de corredor con LiDAR</li>
                        <li>Herramientas de calibración de IMU</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-license-item col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
            <div class="card card-license p-2">
                <img src="../assets/img/ugcs/licenses/License-ugcs-enterprise-perpetual.png"
                    alt="UgCS Pro license perpetual" class="card-img">
                <div class="card-body">
                    <h2 class="card-title" id="perpetual-enterprise-card">
                        UgCS ENTERPRISE<br>Perpetua
                    </h2>
                    <p class="card-text">
                        <strong>Descripción</strong><br>
                        Mejor opción para muestreo LiDAR, vigilancia y equipos SAR (Búsqueda y rescate).<br>

                    </p>
                    <p class="card-item">
                        <strong>Precio</strong><br>
                        &euro; 2'190.00<br>
                        Por usuario
                    </p>
                    <p class="card-item">
                        <a href="mailto:ventas@tfmsoluciones.com">
                            <button type="button" class="btn btn-ugcs-buy-enterprise">Comprar</button>
                        </a>
                    </p>
                    <br>
                    <h3>
                        Todas las características del UgCS EXPERT mas...
                    </h3>
                    <ul>
                        <li>Transmisión de video en tiempo real mediante la interfaz de escritorio</li>
                        <li>Multiples conexiones de desarrollo SDK</li>
                        <li>ADS-B transponder</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-license-item col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
            <div class="card card-license p-2">
                <img src="../assets/img/ugcs/licenses/License-ugcs-commander-5.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <div class="card-body">
                    <h2 class="card-title" id="perpetual-commander-card">
                        UgCS COMMANDER<br>Perpetua
                    </h2>
                    <p class="card-text">
                        <strong>Descripción</strong><br>
                        solución para desplegar planes de vuelo con varios equipos de manera simultanea, controlados
                        desde una única interfaz.<br>

                    </p>
                    <p class="card-item">
                        <strong>Precio</strong><br>
                        &euro; 4'390.00<br>
                        Por usuario
                    </p>
                    <p class="card-item">
                        <a href="mailto:ventas@tfmsoluciones.com">
                            <button type="button" class="btn btn-ugcs-buy-commander">Comprar</button>
                        </a>
                    </p>
                    <br>
                    <h3>
                        Características
                    </h3>
                    <ul>
                        <li>Planeacion de las diferentes rutas para cada vehículo por separado</li>
                        <li>Conexión directa vía Wi-Fi</li>
                        <li>Telemetría de todas las aeronaves en una única interfaz</li>
                        <li>Modo gráfico para monitorear el ambiente en 3D</li>
                        <li>Notificaciones y alarmas en caso de proximidad de equipos</li>
                        <li>Cada drone puede ser pausado (hold) y vuelve a continuar siempre que sea necesario</li>
                    </ul>
                    <br>
                    <h3>
                        Aplicaciones
                    </h3>
                    <ul>
                        <li><strong>Aseguramiento de perímetros: </strong> Pruebas de sistemas anti-drones que protegen
                            aeropuertos, objetos industriales y otras infraestructuras críticas enviando simultáneamente
                            los drones desde diferentes direcciones hacia el objeto protegido.</li>
                        <li><strong>Agricultura: </strong>Rocíe simultáneamente los cultivos en paralelo utilizando
                            múltiples drones.</li>
                        <li><strong>Mapeo: </strong>Mapeo de grandes áreas usando múltiples drones simultáneamente.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <br>

    <div class="row">
        <h2 class="text-center">
            Drones soportados
        </h2>
        <p class="text-center">
            <strong>Controles DJI soportados:</strong> Control SDK, Control Smart, Crystal Sky, Control smart M300
            <br>
            *Como la infraestructura DJI viene cerrada, es necesario trabajar con la aplicación gratuita para Android
            UgCS for DJI.
        </p>
    </div>

    <div class="row">
        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/dji-m600.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    DJI M600, 600 Pro*
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/dji-m300.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    DJI M300*
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/dji-m200.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    DJI M200 v2 series, M210, M210 RTK*
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/dji-m100.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    DJI M100*
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/dji-inspire2.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    DJI Inspire 2*
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/dji-inspire1.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    DJI Inspire 1 , Pro, Raw*
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/dji-phantom4.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    DJI Phantom 4, Pro, Pro v2, RTK* with SDK controller only!
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/dji-phantom3.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    DJI Phantom 3*
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/dji-mavic-pro.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    DJI Mavic Pro*
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/dji-mavic-2.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    DJI Mavic 2 Zoom, Pro, Enterprise*
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/dji-N3.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    DJI N3*
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/dji-A3.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    DJI A3*
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/freefly-alta-x.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    Freefly Alta X (US-made, PX4 based)
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/pixhawk-apm-multicopter.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    MavLink compatible Ardupilot/PX4 Multicopter
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/pixhawk-apm-helicopter.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    MavLink compatible Ardupilot/PX4 Helicopter
                </figcaption>
            </figure>
        </div>

        <div class="card-drone-item col-lg-3 col-md-3 col-sm-6 col-6 mb-2">

            <figure>
                <img src="../assets/img/ugcs/licenses/drones/pixhawk-apm-plane.png" alt="UgCS Pro license perpetual"
                    class="card-img">
                <figcaption class="text-center">
                    MavLink compatible APM Airplane
                </figcaption>
            </figure>
        </div>
    </div>

    <br>

    <div class="row">
        <h2 class="text-center">
            Requerimientos Mínimos del Sistema
        </h2>
    </div>

    <div class="row">
        <div class="col">
            <h3>
                Sistema operativo
            </h3>
            <ul>
                <li>Windows 7 with SP1 o posterior; Windows 8; Windows 10/64-bit</li>
                <li>Mac OS X Maverick 10.9 o posterior / 64-bit</li>
                <li>Linux: Ubuntu 18.04 LTS / 64-bit</li>
            </ul>

            <h3>
                CPU
            </h3>
            <ul>
                <li>Core 2 Duo o Athlon X2 at 2.4 GHz</li>
            </ul>

            <h3>
                Memoria
            </h3>
            <ul>
                <li>RAM recomendada: 4GB o mas</li>
            </ul>
        </div>

        <div class="col">
            <h3>
                Tarjeta gráfica
            </h3>
            <ul>
                <li>Tarjeta gráfica con soporte para DirectX 9 (shader model 2.0). Cualquier tarjeta fabricada desde el 2004 debe funcionar</li>
            </ul>

            <h3>
                Disco duro
            </h3>
            <ul>
                <li>2 GB de espacio libre</li>
            </ul>

            <h3>
                Resolución de pantalla mínima
            </h3>
            <ul>
                <li>1024 x 768</li>
            </ul>
        </div>
    </div>


</div>