<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-11 col-sm-11 col-xs-11">
      <h1 class="text-center">
        Software para planificación de vuelos y control de Drones por SPH ENGINEERING
      </h1>
      <p>
        Sistemas para planificación automatizada de misiones de drones, implementación de fotogrametría y herramientas
        de Geolocalización, Modelo Digital de Elevación (DEM) e importación de archivos KML permitiendo la configuración
        personalizada de los mapas, y el cambio de bateria programado durante la ejecución de los vuelos prolongados, lo
        cual hace que UgCS sea una solución efectiva para proyectos de gran embergadura.
      </p>
      <div class="row">
        <!-- <div class="col-11 col-sm-11 col-xs-11"> -->
        <h2>
          Principales características
        </h2>
        <div class="col-sm-4 sm-margin-b-50">
          <ul class="icon">
            <li class="check">
              ✓ [Nuevo] Conjunto de herramientas para LiDAR automatizado
            </li>
            <li>
              ✓ Seguimiento automático del terreno
            </li>
            <li>
              ✓ Importación de rutas a partir de archivos KML y CSV
            </li>
            <li>
              ✓ Herramientas de fotogrametría
            </li>
            <li>
              ✓ Herramientas de escaneo vertical
            </li>
            <li>
              ✓ Herramienta de escaneo de área para sensores sin cámara
            </li>
            <li>
              ✓ Mapeo de corredores
            </li>
            <li>
              ✓ Patrones para búsqueda y rescate
            </li>
            <li>
              ✓ Importación de mapas personalizados y datos de elevación de terreno
            </li>
            <li>
              ✓ Transmisión geolocalizada en vivo
            </li>
            <li>
              ✓ Trabajo fuera de línea (offline)
            </li>
          </ul>
        </div>
        <div class="col-sm-8">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/yMPfPSXvqJ4" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""></iframe>
        </div>
        <!-- </div> -->
      </div>
      <div>
        <p>
          Soporta las mas populares plataformas UAVs incluyendo DJI M300, M600, M2X0, Inspire, Serie Phantom,
          Serie
          Mavic y drones compatibles con MAVLink (Pixhawk con ArduPilot/PX4)
        </p>
      </div>

      <div class="col-11 col-sm-11 col-xs-11">
        <h1 class="text-center mb-5">
          Sistemas UgCS
        </h1>

        <div class="row">
          <div class="col-sm-4 sm-margin-b-50">
            <div class="margin-b-20">
              <figure>
                <img src="../assets/img/ugcs/main/ugcs-new-lidar-toolset-sph-engineering.png" alt="imagen LiDAR"
                  class="img-thumbnail">
                <figcaption>
                  UgCS para sistemas basados en LiDAR
                </figcaption>
              </figure>
            </div>

            <h2>
              <span class="green-title me-2">LiDAR</span><span class="title-complement">Sistemas para mapeo con sensores
                laser</span>
            </h2>
            <p>
              El recién introducido conjunto de herramientas LiDAR de UgCS desbloquea todo el potencial de los sistemas
              LiDAR, lo que hace que la teledetección sea más eficiente. Las características clave incluyen una
              calibración precisa, patrones de vuelo para la planificación de rutas, giros anti-vibración, interlineado
              constante y búfer.
            </p>
          </div>

          <div class="col-sm-4 sm-margin-b-50">
            <div class="margin-b-20">
              <figure>
                <img src="../assets/img/ugcs/main/ugcs-industrial-solution-main.png" alt="UgCS logo de sistemas integrados"
                  class="img-thumbnail">
                <figcaption>
                  Sistemas integrados
                </figcaption>
              </figure>
            </div>
            <h2>
              <span class="green-title me-2">Integrados</span><span class="title-complement">Sistemas
                industriales</span>
            </h2>
            <p>
              Drone-based UgCS Integrated Systems with sensors:
            </p>
            <ul>
              <li>Echo Sounder for bathymetry</li>
              <li>Ground Penetrating Radar (GPR)</li>
              <li>Methane detector</li>
              <li>Magnetometer</li>
              <li>Laser/Radar Altimeter for True Terrain Following mode</li>
            </ul>

          </div>

          <div class="col-sm-4 sm-margin-b-50">
            <div class="margin-b-20">
              <figure>
                <img src="../assets/img/ugcs/main/ugcs-mapper-main.png" alt="imagen UgCS Maper Software"
                  class="img-thumbnail">
                <figcaption>
                  UgCS Mapper para crear ortofotos y modelos digitales
                </figcaption>
              </figure>
            </div>

            <h2>
              <span class="green-title me-2">UgCS Mapper</span><span class="title-complement">Procesamiento de
                imágenes</span>
            </h2>
            <p>
              Software ligero de procesamiento de imágenes y videos de drones para crear mapas 2D y modelos de
              elevación. ¡Totalmente fuera de línea!
            </p>
            <ul>
              <li>Cree mapas en el campo, para planificar vuelos seguros.</li>
              <li>Valide la calidad y densidad de imagen adquirida durante el proceso de adquisición de datos.</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 sm-margin-b-50">
            <div class="margin-b-20">
              <figure>
                <img src="../assets/img/ugcs/main/ugcs-atlas-main.png" alt="imagen Software Atlas from SPH Engineering"
                  class="img-thumbnail">
                <figcaption>
                  Software para análisis geo-espacial
                </figcaption>
              </figure>
            </div>

            <h2>
              <span class="green-title me-2">ATLAS</span><span class="title-complement">Software de análisis
                Geoespacial</span>
            </h2>
            <p>
              Análisis geoespacial inteligente, vectorización, mmedidas y seguimiento del progreso.
            </p>
            <ul>
              <li>Almacenamiento de imágenes aéreas</li>
              <li>Creación de mapas</li>
              <li>Detección y conteo de objetos</li>
              <li>Segmentación del terreno</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>