<div class="content-lg">
  <div class="row position-relative">
    <figure>
      <img src="../assets/img/background-image.jpg" alt="imagen principal de ciudad nocturna en alta resolución"
        class="img-fluid main-img">
    </figure>
    <div class="floating-main-text">
      <h1 id="main-text">TFM Soluciones</h1>
      <p id="main-text" class="text-center">Empresa dedicada al manejo y explotación de servicios relacionados con
        equipos UAVs</p>
    </div>

  </div>
  <div class="row justify-content-md-center">
    <div class="col-11 col-sm-11 col-xs-11">
      <h1>
        Tecnología de punta
      </h1>
      <p>
        Nuestros equipos de vuelo no tripulados RPAS vienen equipados con la última tecnología en sistemas de
        posicionamiento globlal con ubicación en tierra por medio de una base autónoma RTK la cual permite operación de
        nivel sub métrico. Contamos con la tecnología FLIR para la detección termográfica de puntos y variaciones de
        calor
      </p>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-11 col-sm-11 col-xs-11">
      <div class="row">
        <div class="col-sm-4 sm-margin-b-50">
          <div class="margin-b-20">
            <figure>
              <img class="img-thumbnail" src="../assets/img/rtk_sized50.jpg" alt="imagen de posicionamieto submetrico">
              <figcaption>
                Posicionamiento submétrico
              </figcaption>
            </figure>
          </div>

          <h2>
            <span class="green-title me-2">RTK</span><span class="title-complement">Posicionamiento submétrico</span>
          </h2>
          <p>
            Bastante difundida mundialmente, la sigla RTK todavía es poco conocida en Colombia y en Latinoamérica. El
            posicionamiento con esta técnica se está incorporando de a poco a las actividades que involucran análisis de
            registros hidrográficos, explotación minera, monitoreo de vehículos y control preciso de maquinaria, entre
            otras aplicaciones. RTK significa Real Time Kinematic, posicionamiento cinemático en tiempo real, y alía la
            tecnología de navegación por satélites a un módem de radio o a un teléfono GSM para obtener correcciones
            instantáneas.
            Algunas aplicaciones de ingeniería exigen que el procesamiento y el abastecimiento de las coordenadas se
            obtengan instantáneamente, sin la necesidad de un postprocesamiento de los datos.
          </p>
        </div>

        <div class="col-sm-4 sm-margin-b-50">
          <div class="margin-b-20">
            <figure>
              <img src="../assets/img/flir_sized50.jpg" alt="imagen termográfica industrial" class="img-thumbnail">
              <figcaption>
                Termografía
              </figcaption>
            </figure>
          </div>
          <h2>
            <span class="green-title me-2">FLIR</span><span class="title-complement">Termografía</span>
          </h2>
          <p>
            Desde que los dispositivos FLIR usan la detección de energía termal para crear la "imagen" que se forma en
            salida de vídeo, pueden ser usados para ayudar a los pilotos y conductores a dirigir sus vehículos de noche,
            y con niebla, o detectar objetos calientes en un fondo frío cuando está completamente oscuro (como en una
            noche nublada sin luna). La longitud de onda de la radiación infrarroja que detectan los FLIR difiere
            significativamente de la de visión nocturna, que funciona en la espectro visible cerca de rangos nfrarrojos
            (de 0,4 a 1,0 micrometros).
          </p>
        </div>

        <div class="col-sm-4 sm-margin-b-50">
          <div class="margin-b-20">
            <figure>
              <img src="../assets/img/high_res_sized50.jpg" alt="Imagen de alta resolución de una paisaje oceánico"
                class="img-thumbnail">
              <figcaption>
                Calidad de imagen
              </figcaption>
            </figure>
          </div>
          <h2>
            <span class="green-title me-2">Alta resolución</span><span class="title-complement">Calidad de imagen</span>
          </h2>
          <p>
            Cámara de alta resolución con sensor de Micro 4/3” capaz de grabar vídeo a 5.2K en 30fps y fotografiar a
            20.8Mp, en ráfaga continua a 20fps y con un rango dinámico de 12.8 pasos. Gracias a su sensor es capaz de
            trabajar con escasa luz, ofreciendo resultados con nitidez y bajo ruido. Equipada con lentes intercambiables
            tipo REFLEX. El lente utilizado para el trabajo de fotogrametría es el gran angular de 15mm f/1.4.
          </p>
        </div>
      </div>


    </div>
    <div class="col-11 col-sm-11 col-xs-11">
      <h1>
        Aliados comerciales
      </h1>
      <p>
        Trabajamos de la mano de grandes empresas líderes en desarrollo de equipos y software, lo que nos ayuda a
        brindar un servicio con respaldo y de excelente calidad.
      </p>
      <div class="row">
        <div class="col-sm-4 sm-margin-b-50">
          <figure>
            <img src="../assets/img/Logo_UgCS_green_black_TRANSP.png" alt="Logo software UgCS" class="img-thumbnail">
            <figcaption>Universal ground Control System</figcaption>
          </figure>
        </div>
        <div class="col-sm-8">
          <h2><a class="link" href="https://tfmsoluciones.com/ugcs/licenses">UgCS</a>
            Universal ground Control System
          </h2>
          <p>El software UgCS, es uno de los productos bandera de SPH Engineering, empresa letona fundada en 2013 y
            especializada en servicios de integración de sistemas no tripulados.</p>
          <p>Concretamente, el UgCS permite gestionar con un único software una gran cantidad de diferentes vehículos no
            tripulados, de diferentes tipos de fabricantes. De esta manera, este producto de SPH hace posible llevar a
            cabo de manera sencilla misiones que requieran de varias y distintas plataformas.</p>
        </div>
      </div>
    </div>
  </div>
</div>
