<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../assets/img/TFM-Soluciones-Logo-FInal-Cuadrado.png"
        alt="logo tfm soluciones" width="30" height="30" class="d-inline-block align-text-top me-4 mb-0">TFM Soluciones</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="ugcs/main">UgCS</a>
        </li> -->
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            UgCS
          </a>
          <ul class="dropdown-menu">
            <li><a href="ugcs/main" class="dropdown-item">Sistemas</a></li>
            <li><a href="ugcs/licenses" class="dropdown-item">Licencias</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <div class="col">
          <form class="d-flex">
            <input class="form-control me-2" type="email" name="email" placeholder="email" id="email">
            <input class="form-control me-2" type="password" name="" placeholder="password" id="password">
            <button class="btn btn-outline-success" type="submit">Iniciar sesión</button>
          </form>
        </div> -->
        
      </ul>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://avatars.githubusercontent.com/u/98790008?s=400&u=f0beb6d6e901fedb8acd7180b7f0ace46903865a&v=4"
            alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>GR</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">Sign Up</a></li>
          <li><a class="dropdown-item" href="#">Login</a></li>
          <!-- <li><a class="dropdown-item" href="#">Profile</a></li> -->
          <!-- <li>
            <hr class="dropdown-divider">
          </li> -->
          <!-- <li><a class="dropdown-item" href="#">Sign out</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>