<mat-grid-tile-footer>
  <div class="row justify-content-md-center">
    <div class="col-11 col-sm-11 col-xs-11">
      <div class="row">
        <div class="col-sm-4 sm-margin-b-50">
          <h3>Sedes</h3>
          <ul class="no-bullets">
            <li><strong>Bogotá</strong> <br> Cra 12 # 113 - 51</li>
            <li class="mt-2"><strong>Pereira</strong> <br> Km 6 via Arménia</li>
          </ul>
        </div>
        <div class="col-sm-4 sm-margin-b-50">
          <h3>Medios de pago</h3>
          <mat-icon class="btc-icon">currency_bitcoin</mat-icon>
          <p class="btc-address">bc1qjjt2jgpa8m4aurmqtpk349y4nhz2dju85twe8c</p>

        </div>
        <div class="col-sm-4 sm-margin-b-50">
          <h3>Redes sociales</h3>
          <ul class="no-bullets">
            <li>
              <a href="https://twitter.com/TFMSoluciones?ref_src=twsrc%5Etfw" class="twitter-follow-button btn"
                data-lang="es" data-show-count="false"
                title="Follow TFMSoluciones (@TFMSoluciones) on Twitter"><i></i><span class="label" id="l">Seguir
                  <b>@TFMSoluciones</b></span></a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
            <li>
              <p>Contacto: <a href="mailto:ventas@tfmsoluciones.com">ventas@tfmsoluciones.com</a></p>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div id="footer-rights" class="justify-content-md-center text-center">
        Hecho con <mat-icon class="heart-icon">favorite</mat-icon> en Colombia por TFM Soluciones
          <br>
          &#169;Todos los derechos reservados 2022
      </div>
    </div>
  </div>

</mat-grid-tile-footer>
