/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --blue: #0089cf;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #76b82a;
  --secondary: #6c757d;
  --success: #76b82a;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --black: #000000;
  --color-green-tfm: #5fc19d;
  --color-green-ugcs: #93d84a;
  --color-green-btc: #8fff6d;
  --color-green-background: #203f57;
  --color-orange-btc: #F7931A;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-monospace: 'Noto Sans Mono', monospace;
  --font-family-raleway: 'Raleway', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--font-family-raleway);
  background-color: var(--black) !important;
  color: var(--white);
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--white);
  word-wrap: break-word;
}

p {
  color: var(--white);
  text-align: justify;
  word-break: break-all;
}

/* .tfm-toolbar {
  background-color: var(--black);
  color: var(--white);
} */

.spacer {
  flex: 1 1 auto;
}

.navbar-toggler {
  color: var(--white);
}

.navbar-brand {
  color: var(--color-green-tfm);
}

ul {
  color: var(--white);
}

figcaption {
  color: var(--white);
}

